$block-class: 'chart-container';

@at-root {
    .#{$block-class} {
        & &__overview-member-chart {
            margin: 0 -1rem;
        }

        &__main-chart {
            width: 100;
            height: 80vh;
            margin-top: 1rem;
        }

        & &__chart {
            width: 95%;
            height: 100%;
            margin: auto;
            margin-top: 4rem;
        }

        & &__chart-bar {
            float: right;
            margin-right: 1rem;
            margin-top: -2.5rem;
            &--timeline{
                z-index: 12;
                position: relative;
            }
            &--filter{
                z-index: 12;
                position: relative;
            }
        }
        & &__chart-container{
            width: 100%;
            height: auto;
            margin: 3.5rem auto;
        }

        & &__tooltip {
            padding: 5px 10px;
            font-Weight: bold;
        }
        & &__loading-container{

            &--d3-chart {
                display: flex;
                justify-content: center;
            }

            &--measure-selector {
                @extend .chart-container__measure-selector;
            }
            &--chart-header {
                width: 100%;
            }          
        }
        & &__loading-skeleton{

            &--d3-chart {
                margin: 3rem auto;
                width: 95%;
                height: 500px;
            }
            &--measure-selector {
                width: 45%;
                height: 65px;
            }
            &--chart-header {
                width: 25%;
                height: 75px;
            } 
        }

        & &__return-icon {
            font-size: 1rem;
            padding-top: 0.2rem;
        }
        & &__return-title-display {
            width: 100%;
        }
        &__return-link-display {
            cursor: pointer;
            width: fit-content;
        }

        & &__return-measure-display {
            display: flex;
            flex-direction: row;
            position: absolute;
            margin: 0.75rem 1rem;
        }

        & &__return-measure-labels {
            display: flex;
            font-size: 1.2rem;
            margin-left: 1rem;
            align-items: center;
            gap: 1rem;
            padding-left: 2rem;
        }

        & &__return-measure-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        & &__title {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 2rem;
        }

        & &__selector-title {
            font-size: 1.1rem;
            margin: .85rem 1rem 0 0;
        }

        & &__measure-selector {
            margin: 1rem 1rem 0 0;
            display: flex;
            flex-direction: row;
            justify-content: right;
        }

        & &__no-entries {
            padding: 1.5rem .5rem;
            font-size: 1.5rem;
            text-align: center;
        }

        & &__bottom-display {
            padding: 0 1rem;
        }
    }
}
