$block-class: 'login';
@import 'colors';

@at-root {
    .#{$block-class} {

        &__title {
          font-size: 2rem;
          font-weight: bold;
          color: $blue-grey-darken-4;
        }

        & &__header-section {
          backdrop-filter: blur(5px);
          background-color: $default-white;
          border-radius: 2rem;
          padding: 2rem;
          margin: auto;
          width: 600px; //we need to discuss breakpoints at some point
        }
    }
}